body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 0, 0.279),
    rgba(0, 255, 255, 0.542)
  );
  --gray: #34495e;
  --darkgray: #2c3e50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.networkModal .modal-content {
  background-color: #494a49;
}
.networkModal .modal-content .modal-header {
  border-bottom: 0;
}
.networkModal .modal-content .modal-title.h4,
.networkModal .modal-content p {
  color: #fff;
}
.networkModal .btn-close {
  filter: invert(75%);
}

.networkModal .ButtonLightGreenStyle.networkBtn {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 12px 18px !important;
  justify-content: center;
  min-width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.baseToken_style {
  padding-top: 20px;
}
@media (max-width: 767px) {
  .baseToken_style {
    padding-top: 0;
  }
}
.baseToken_style ul {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 767px) {
  .baseToken_style ul {
    padding: 0;
    margin-bottom: 0;
  }
}
.baseToken_style ul li {
  display: block;
  margin-bottom: 20px;
  width: 50%;
  padding: 0 15px;
}
.baseToken_style ul li:last-child {
  margin-bottom: 0;
}
.baseToken_style ul li button.btn {
  padding: 15px 20px;
  border-radius: 10px;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  display: block;
  text-align: left;
  height: auto;
  background: transparent;
  position: relative;
  border: 0;
}
.baseToken_style ul li button.btn.active {
  background-color: black;
}
@media (max-width: 767px) {
  .baseToken_style ul li button.btn {
    padding: 12px 20px;
    font-size: 13px;
  }
}
.baseToken_style ul li button.btn:focus {
  box-shadow: none;
}
.baseToken_style ul li button.btn img {
  width: 45px;
  background: transparent;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .baseToken_style ul li button.btn img {
    width: 34px;
    right: 6px;
    top: 4px;
    height: 34px;
  }
}

.modal-dialog {
  max-width: 620px;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  /* position: relative; */
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #12bff3;
}

/* Other styles*/
body {
  color: #fff;
  background: var(--background-gradient);
}
h1 {
  margin: 0 0 0.25em;
}
a {
  font-weight: bold;
  color: var(--gray);
  text-decoration: none;
  padding: 0.25em;
  border-radius: 0.25em;
  background: white;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #12e8f3;
}

/* Other styles*/
body {
  color: #fff;
  background: var(--background-gradient);
}
h1 {
  margin: 0 0 0.25em;
}
a {
  font-weight: bold;
  color: var(--gray);
  text-decoration: none;
  padding: 0.25em;
  border-radius: 0.25em;
  background: white;
}
